services:
  taskflow-api:
    image: taskflow-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      JwtSettings__Issuer: TaskFlow
      JwtSettings__Audience: TaskFlowUsers
